html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box; /* Hack Box model */
  scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Avenir', sans-serif; /* Set Avenir as the primary font, fallback to generic sans-serif */
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #4e2029, #623740);
  line-height: 1.5; /* Adjust line height as needed */
  letter-spacing: 1.6px; /* Adjust letter spacing as needed */
  width: 100%;
  box-sizing: border-box; /* Hack Box model */
  scroll-snap-type: y mandatory;
  font-size: 16px; /* 1rem = 10px */
}

 /* Responsive Styles */
  @media (max-width: 768px) {
    .titlemain h1,
    .titlemain h2,
    .titlemain h3 {
      padding-left: 2rem;
      font-size: calc(1.5rem + 1vw); /* Adjust font size based on viewport width */
    }
  
    .text-style {
      font-size: 1.2rem;
    }
  
    .text-style ul {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  .text-style span {
    font-size: 2rem;
  }

nav {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Distribute space between items */
  align-items: center; /* Align items vertically */
  padding: 20px 0; /* Add some padding */
  flex-direction: column; /* Arrange navigation links vertically */
  list-style: none; /* Remove default bullet points */
  margin: 0; /* Remove default margin */
  background-color: #ffd4ac;
}

.nav-divider {
  height: 5px; /* Adjust height as needed */
  background-color: #e95f71; /* Match the navbar color */
  width: 100%; /* Span the entire width */
  margin: 0 auto; /* Center the line */
}

.banner {
  width: 100%;
  height: 200px;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;  /* Stacks items vertically */
  align-items: center;  /* Centers items horizontally */
  justify-content: space-between;  /* Distributes items evenly with space between */
  width: 100%;
}

.container a{
  text-decoration: none;
  font-weight: 700;
  color:var(--cyan);
}

.logo {
  width: 150px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Add margin for spacing */
  display: inline-block;
  vertical-align: middle;
}

.logo img{
  width: 150px;
  height: auto;
}

.logo-title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  font-size: 24px;
}

.informacion {
  margin-top: 20px;
  font-size: 16px;
}

.fecha {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  font-weight: normal;
}

.lugar {
  font-style: italic;
  font-size: 20px;
  margin: 0;
  font-weight: normal;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.menu li {
  margin: 0 5px;
}

.menu a {
  text-decoration: none;
  color: #5f363d; /* White text color for menu items */
  padding: 10px 15px; /* Add padding for better spacing */
  transition: background-color 0.3s ease; /* Add smooth transition on hover */
}

.menu a:hover { /* Style for hover state */
  background-color: #ffd4ac; /* Slightly darker background on hover */
}

.hero {
  margin: -.5%;
  background-image: linear-gradient(to right, #4e2029, #623740);
  background-size: cover;
  background-position: center;
  height: 400px;
  text-align: center;
  color: #e95f71;
}

.hero h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

.titlemain {
  padding: 40px 50px;
  background-color: #ffffff;
  background-position: center;
  height: auto;
  text-align: center;
  color: #5f363d;
}

.titlemain h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.titlemain h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  text-align: left;
  text-decoration: underline;
}

.titlemain p {
  font-size: 20px;
  margin: 0;
  font-weight: normal;
  text-align: left;
}

.flexbox-container {
  display: flex;
}

.element1 {
  float: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ccc;
  background-image: linear-gradient(to right, #4e2029, #623740);
  width: 100%;

}

.element2 {
  padding: 10px;
  font-weight: bold;
  border: 1px solid #ccc;
  background-image: linear-gradient(to right, #4e2029, #623740);
  width: 100%;
}

/* Mobile Devices (320px - 480px) */
@media (max-width: 480px) {
  /* Hide the logo on smaller screens */
  .left-picture {
    display: none;
  }

  /* Stack navbar elements vertically */
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  /* Adjust font sizes for smaller screens */
  .titlemain h1 {
    font-size: 2rem;
  }

  .titlemain h2 {
    font-size: 2.5rem;
  }

  .titlemain h3 {
    font-size: 1.2rem;
  }
}

/* iPads & Tablets (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  /* Similar styles as Mobile Devices with slight adjustments */
  .titlemain h1 {
    font-size: 2.5rem;
  }

  .titlemain h2 {
    font-size: 3rem;
  }

  .titlemain h3 {
    font-size: 1.3rem;
  }
}
/* Responsive behavior using media queries */
@media (max-width: 768px) {
    /* Hide the logo on smaller screens */
    
    .left-picture {
      display: none;
    }
  
    /* Stack navbar elements vertically */
    .nav {
      flex-direction: column;
      align-items: flex-start;
    }

    /* Adjust font sizes for smaller screens */
    .titlemain h1{
        font-size: 3rem;
    }
    .titlemain h2{
        font-size: 4rem;
    }
    .titlemain h3{
        font-size: 1.5rem;
    }
}
  
@media (min-width: 768px) {
    /* Show the logo on larger screens */
    .left-picture {
      display: block;
      float: left; /* Maintain existing styling */
      margin-right: 20px;
      max-width: 100%; /* Ensure image scales responsively */
      width: 25rem;
    }
}

/* Desktops & Large Screens (1025px - 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
  /* Adjust font sizes and layouts as needed for larger screens */
  /* You can adjust these values based on your design preferences */
  .titlemain h1 {
    font-size: 3.5rem;
  }

  .titlemain h2 {
    font-size: 4.5rem;
  }
}

/* Extra Large Screens & TV (1201px and above) */
@media (min-width: 1201px) {
  /* Adjust font sizes and layouts as needed for very large screens */
  /* You can adjust these values based on your design preferences */
  .titlemain h1 {
    font-size: 4rem;
  }

  .titlemain h2 {
    font-size: 5rem;
  }
}